Hi <%= @user.name %>,
<p>
Welcome to <%= app_name %>! 
<%= link_to "Click ", edit_account_activation_url(@user.activation_token, email: @user.email) %>
 to activate your account.
</p>
<p>
Sincerely,<br>
The <%= app_name %> Team
</p>
