<!DOCTYPE html>
<html>
	<head>
		<title><%= full_title(yield(:title)) %></title>
	</head>
	<body>
		<h1>UserAuth Base App</h1>
		<p>
		This is a base app tha tallows for user authentication and authorization.
		</p>
	</body>
</html>
